body{
    background-color: darkslategray;
    text-align: center;
}
input{
    margin: 30px auto 30px;
    width: 350px;
    height: 32px;
    display: block;
    text-align: center;
}
#output{
    margin-top: 45px;
    width: 100px;
    background: chocolate;
    margin: 0px auto 30px;
}
#btn{
    width: 350px;
    height: 91px;
    color: #fff;
    background-color: midnightblue;
    border-style: none;
    border-radius: 15px;
    margin-top: 0px;
}
h1 {
    color: navajowhite;
    margin-top: 23px;
}